<%= content_for(:title, "Edit #{@player.first_name}") %>

<h1>Edit <%= @player.first_name  + " " + @player.last_name %> information</h1>

<%= render partial: "players/form" %>

<br>
<%= link_to "Go Back", root_path %>